Examplify_3.4.6_win.exe	#latest version of Examplify for Windows
ExamplifyUpdater.bat    #not working yet, may not even be necessary
setup.iss				#obtained from Examsoft Support
setup.json 				#obtained from Examsoft Support